# Core Django stack
Django>=5.2
gunicorn
python-dotenv
djangorestframework
djangorestframework_simplejwt
django-cors-headers
sqlparse
asgiref

# WebSocket support
channels
channels_redis
daphne

# Auth + Payments
stripe
PyJWT

# Redis + HTTP
redis
requests
httpx

# Database
psycopg2-binary
django-otp
dj-database-url
Pillow>=10.0.0
daphne>=4.0.0
python-dotenv
django-prometheus==2.3.1
pytest
pytest-django