<div *ngFor="let contrat of contrats" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ contrat.code_contrat }} - {{ contrat.designation }}</h5>
    <p><strong>Début:</strong> {{ contrat.date_debut }}</p>
    <p><strong>Fin:</strong> {{ contrat.date_fin }}</p>
    <p><strong>Statut:</strong> {{ contrat.statut_commercial }}</p>
<p><strong>montant:</strong> {{ contrat.montant }}</p>
    <div class="d-flex gap-2">
      <button class="btn btn-primary" (click)="subscribe(contrat.id)">
        Souscrire
      </button>
    </div>
  </div>
</div>
